<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="GitHubFlowVersion" version="1.3.2" />
    <package id="GitReleaseNotes" version="0.2.1" />
    <package id="nBuildKit.MsBuild" version="0.4.7" />
    <package id="NUnit.Runners" version="2.6.2" />
    <package id="opencover" version="4.0.1128" />
    <package id="reportgenerator" version="1.6.1.0" />
</packages>