<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="executor" type="Nuclei.Configuration.ConfigurationSectionToXmlTranslator, Nuclei.Configuration" />
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <executor>
        <DefaultLogLevel>
            <LevelToLog>Trace</LevelToLog>
        </DefaultLogLevel>
        <BindingMaxReceivedSizeForDataInBytes>
            <!-- set to 500Mb -->
            <long>524288000</long>
        </BindingMaxReceivedSizeForDataInBytes>
    </executor>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Mono.Cecil" publicKeyToken="0738eb9f132ed756" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.9.5.0" newVersion="0.9.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JsonFx" publicKeyToken="315052dd637f8a52" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1209.2802" newVersion="2.0.1209.2802" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>