html, body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background: #080808 repeat;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #2B2B2B;
}

.container {
    margin: 0px auto;
}

/* HEADER */
#header {
    overflow: hidden;
    width: 1000px;
    height: 100px;
    padding: 0px 50px;
}

#header-text{
    text-align: center;
}

#header-text h1{
    line-height: 40px;
    color: #B6B6B6;
}

/* CONTENT */

#content {
    overflow: hidden;
    width: 1000px;
    padding: 50px 50px 50px 50px;
    background-color: #FFFFFF;
    border-radius: 10px 10px 0px 0px;
}

/* TEST RESULT */

#testresult {
    font-size: 14pt;
    text-align: center;
}

#testresult-passed {
    color: darkgreen;
}

#testresult-failed {
    color: crimson;
}

/* STATISTICS */

#statistics {
    padding: 0px 0px 20px 0px;
}

#statistics table{
    margin: 0px 0px 10px 0px;
}

#statistics td {
    padding: 0em 0.5em;
}

#statistics .table-header{
    font-weight: bold;
}

/* SECTIONS */

#sections {
    padding: 10px 10px 10px 10px;
    top: 60px;
    left: 0px;
    right: 17px;
    bottom: 0px;
    overflow: auto;
}

#sections .icon {
    height: 16px;
    width: 16px;
    text-align: center;
}

#sections table {
    table-layout: fixed;
    border-collapse: collapse;
}

#sections th {
    border-bottom-style: double;
    border-bottom-color: black;
    border-bottom-width: 3px;
    text-align: left;
    padding: 0em 1em;
}

#sections .test {
    margin: 25px 0px;
}

.row-light {
    background-color: #EEEEEE;
}

#sections td {
    padding: 0em 1em;
}

#sections .first-column {
    padding: 0em 1em 0em 0em;
}

#sections .last-column {
    padding: 0em 0em 0em 1em;
}

#sections .date-column {
    white-space:nowrap;
}

/* FOOTER */

#footer {
    width: 1000px;
    text-align: center;
    padding: 10px 10px 10px 10px;
}
