                                        <tr>
                                           <td class="first-column">
                                              <img src="${WARNING_ICON}$" class="icon" />
                                           </td>
                                           <td class="date-column">
                                              ${WARNING_TIME}$
                                           </td>
                                           <td class="last-column">
                                              ${WARNING_TEXT}$
                                           </td>
                                        </tr>
