                                        <tr>
                                           <td class="first-column">
                                              <img src="${ERROR_ICON}$" class="icon" />
                                           </td>
                                           <td class="date-column">
                                              ${ERROR_TIME}$
                                           </td>
                                           <td class="last-column">
                                              ${ERROR_TEXT}$
                                           </td>
                                        </tr>
