                                        <tr>
                                           <td class="first-column">
                                              <img src="${INFO_ICON}$" class="icon" />
                                           </td>
                                           <td class="date-column">
                                              ${INFO_TIME}$
                                           </td>
                                           <td class="last-column">
                                              ${INFO_TEXT}$
                                           </td>
                                        </tr>
