                    <tr ${ROW_HIGHLIGHT}$>
                       <td class="first-column">
                          <img src="${SECTION_ICON}$" class="icon" />
                       </td>
                       <td>
                          ${SECTION_CATEGORY}$
                       </td>
                       <td>
                    ${SECTION_DESCRIPTION}$
                       </td>
                       <td class="last-column">
                          <table>
                             <tbody>
                                ${SECTION_MESSAGES}$
                             </tbody>
                          </table>
                       </td>
                    </tr>
